@charset "UTF-8";

/*Typical Device Breackpoints

Pequenas Telas: max 600px
Celular: min 600px, max 767px
Tablet: min 768, max1023
Desktop: min 1024
Grandes Telas: min 1200px

@media screen and (min-width:768px) {
    
}

@media screen and (min-width:768px) {
    
}

*/



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-padrao);
    color: white;
    text-shadow: 2px 2px 4px black;
    color: rgb(255, 255, 255);
}

:root {
    --cor0: #3D5A73;
    --cor1: #2F3D40;
    --cor2 :#455559;
    --cor3: #28403D;
    --cor4: #182625;
    --cor5: #000b11;

    --fonte-padrao: "Poppins", sans-serif;
    --fonte-destaque: 'Bebas Neue',
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    
    width: 100vw;
    

}

header {
    
    border-bottom: 2px solid white;

    padding-top: 20px;
    
    height: 50px;
    
    
}

#headmain {
    background-image: url(../pictures/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    
}

nav {
    display: inline;
    font-size: 1em;
    


}

nav#container {
    
}

a.nav {
    text-decoration: none;
    padding: 10px;
    font-size: 1em;
    margin: 20px 29px;
    position: relative;

}
.nav:hover {
    border-radius: 5px;
    text-shadow: none;
}



a#link {
    text-decoration: none;
    text-align: center;
    align-items: center;
    padding: 10px;
}

#name {
    

    text-align: center;
    margin: auto;
    align-items: center;
    
    font-size: 2em;
    border-radius: 5px;
    padding: 60px;
    
    
}

p {
    font-size: 1.2em;
    text-align: center;
}

main {
    
}

article {
    display: grid;
    place-items: center;
    padding-bottom: 40px;
    
}

article > p {

    border-radius: 5px;
    background: rgba(0, 0, 0, 0.397);
    backdrop-filter: blur (10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 10px;
    width: 500px;
}

h2 {
    margin-top: 50px;
    font-size: 2em;
}



section {
    display: grid;
    place-items: center;
    background-color: white;
    margin: 0px;
    
}

section > h2 {
    color: black;
    text-shadow: none;
    text-align: center;
}

footer {
    
    text-align: center;
    display: flex;
    place-items: center;
    justify-content: center;

}

footer > a {
    text-decoration: none;
}


#linkinsta {
    text-decoration: none;
    
    padding: 10px;
}

#linkinsta:hover {
    background: rgba(0, 0, 0, 0.397);
    backdrop-filter: blur (10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    
}
